{%extends 'main.html'%}
{%load static%}
{%block content%}
<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
            <form class="form" method="POST" action="">
                {% csrf_token %}
                <p1>Are you sure to delete {{object}}?</p1>
                <br>
                <a class="btn btn--sub btn--lg  my-md" href="{{request.GET.next}}">
                    Go Back
                </a>
                <input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" />
            </form>
        </div>
    </div>
</main>
{%endblock%}